<h1> Parks Index test </h1>

<ul>
  <% @parks.each do |park| %>
  <li>
    <div class="callout">
    <div class="callout-header"><%= park.name %></div>
    <div class="callout-container">
      <%= park.address %>
    </div>
  </li><br>
  <% end %>
</ul>

<%= link_to "Add a New Park", new_park_path %>
