/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self


 */
 .field {
   margin-left: 4rem;
   margin-right: 4rem;
 }

 .callout {
   position: static;
   bottom: 35px;
   right: 20px;
   margin-left: 20px;
   max-width: 300px;
 }

 .callout-header {
   padding: 25px 15px;
   background: #478DB3;
   font-size: 30px;
   color: #CCB852;
 }

 .callout-container {
   padding: 15px;
   background-color: #80D2FF;
   color: white;
 }

 ul {
   list-style-type: none;
 }

 .thumb {
   display: inline;
   margin-left: 8px;
   right: 800px;

 }

 .thumbs_up {
   color: red;


 }

 .thumbs_down {
   color: green;
 }
