.parkIndex {
  padding-left: 2rem;
}
.row{
  padding-left: 2rem
}
.addParkButton{
  padding-left: 2rem;
}
.dogParks{
  padding-left: 2rem;
}
.wrapper{
  display: grid;
  grid-template-columns: auto auto auto;

}
.hollow.button{
  margin-left: 2rem;
}
